<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BREADS (Browse, Read, Edit, Add, Delete, Sort)</title>
    <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap CSS dari node_modules -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awasome dari node_modules -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css" />

    <!-- CSS Custom -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container"><%- %></div>

    <!-- Bootstrap JS dan Popper.js dari node_modules -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

