<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BREADS (Browse, Read, Edit, Add, Delete, Sort)</title>
    <link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/vendor/fontawesome/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- CSS Custom -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container"><%- %></div>

    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
