body {
  background-color: #eee;
}

.signin ul li {
  padding: 0px;
  padding: 0.5em;
}

.signin ul li input {
  border: 0;
}
.signin ul li input::placeholder {
  font-weight: bold;
}

tbody tr.deadline td {
  background-color: rgb(255, 87, 87) !important;
  color: white;
}

.table > tbody {
  vertical-align: middle !important;
}

.table > thead > tr,
.table > tbody > tr {
  --bs-gutter-x: 0 !important;
}

#profilePicture {
  cursor: pointer;
  width: 50px;
}

.error-msg {
  margin: 3rem auto 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
  font-size: 3rem;
  font-weight: bold;
  color: #656565;
}

.error-code {
  margin: 2rem auto;
  font-size: 5rem !important;
  font-weight: bold;
  color: #656565;
}

.error-stack {
  display: block;
  margin: 2rem auto 0;
  background-color: #ffbfc2;
  color: #000;
  font-weight: 500;
  padding: 1rem;
  border-radius: 10px;
}
