body {
  background-color: #eee;
}

.signin ul li {
  padding: 0px;
  padding: 0.5em;
}

.signin ul li input {
  border: 0;
}
.signin ul li input::placeholder {
  font-weight: bold;
}

tbody tr.deadline td {
  background-color: rgb(255, 87, 87) !important;
  color: white;
}

.table > tbody {
  vertical-align: middle !important;
}

.table > thead > tr,
.table > tbody > tr {
  --bs-gutter-x: 0 !important;
}

