<%- include('../layout') %>
<div class="row">
  <div class="col-3 mx-auto">
    <div class="row mt-5">
      <img src="/img/logo-dark.png" class="img-fluid mx-auto" alt="Rubicamp Logo" />
    </div>
    <div class="row">
      <h3 class="text-center">Please sign up</h3>
      <form action="" method="post">
        <div class="card signin mx-auto mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <input type="email" class="form-control py-2" name="email" id="email" placeholder="Email address" required />
            </li>
            <li class="list-group-item">
              <input type="password" class="form-control py-2" name="password" id="password" placeholder="Password" required />
            </li>
            <li class="list-group-item">
              <input type="password" class="form-control py-2" name="retype" id="retype" placeholder="Retype Password" required />
            </li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2 fs-5 fw-medium">Sign up</button>
      </form>
      <p class="text-center fs-6 fw-medium">Have a account? Please <a href="/">Sign in</a></p>
    </div>
    <p class="text-muted text-center fs-6 mt-5">©️ 2017-2023</p>
    <% if (error && error.length > 0) { %>
    <div class="alert text-center alert-danger fs-5 mt-3" role="alert"><%= error %></div>
    <% } %>
  </div>
</div>

